@import '../../styles/variables.scss';

.cons {
    width: fit-content;
    display: flex;
    list-style: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #ca1821;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    align-items: center;
    
    @media (max-width:599px) {
        font-size: 10px;
    }
}